# ------------------------------------------------------------------------------
# TODO:
# Copy this file to a file named "secrets.py" and then set the following
# variables to some valid values.
# ------------------------------------------------------------------------------

# Adafruit IO Credentials
AIO_USERNAME = "YOUR_USERNAME"
AIO_KEY = "YOUR_KEY"

# Amazon Skill Application ID
APPLICATION_ID = "YOUR_ASK_APPLICATION_ID"
